@using Microsoft.AspNet.Identity
@model DatingSite.Models.HomeViewModel
@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1>Hitta din nya partner</h1>
    <p>Matchmaking sida, vi hjälper dig att hitta dina framtida partner</p>
    <p>@Html.ActionLink("Registrera Dig", "Register", "Account", new { @class = "btn btn-outline-primary" })</p>
    <p>@Html.ActionLink("Logga in", "Login", "Account", new { @class = "btn btn-outline-primary" })</p>
</div>

<div class="row">
    @foreach (var user in Model.users)
    {
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">@user.FirstName @user.LastName</h5>
                    <p class="card-text">@user.Description</p>
                    @Html.ActionLink("Profile", "Personal", "Account", new { Id = user.Id } , new { @class = "btn btn-primary" })
                </div>
            </div>
        </div>
    }
</div>

